@import "bootstrap-sprockets";
@import "bootstrap";

// Color Definitions

$red:         #ff0000;
$red-light:   lighten($red, 40%);

$blue:        #0000ff;
$blue-light:  lighten($blue, 40%);

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// Typography

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 20px;
  font-weight: normal;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

// course listings

#courseListing {
  border-width: 1px;
  border-style: solid;
  tr td.category {
    vertical-align: center;
    font-size: 1.4em;
    background-color: gainsboro;
  }
  thead th {
    text-align: center;
    font-size: 1.2em;
    border-style: solid;
  }
  tr td {
    font-size: 0.7em;
    border-style: solid;
    vertical-align: top;
    a.inactive {
      text-indent: 8px;
      font-style: italic;
      color: gray;
      display: inline-block;
    }
    .faculty {
      font-size: 0.9em;
      text-indent: 3px;
    }
  }
}

.required {
  background-color: $red-light;
}

.elective {
  background-color: $blue-light;
}

// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #2eb1bc;
    text-decoration: none;
  }
}

// footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
}
